body {
    background-color: rgb(216, 216, 216);
    color: rgb(54, 54, 54);
    font-family: 'Open Sans', sans-serif;
}

footer {
    font-size: 0.8em;
    position: fixed;
    bottom: 1em;
    right: 1em;
}

.container {
    margin-top: 3em;
}

.heading {
    font-size: 1.5em;
    /* margin-top:0.5em; */
    /* margin-left: 0.5em; */
    color: rgb(135, 133, 250);
}

.temperature {
    border-radius: 15%; 
    text-align: left;
    width: 300px;
}

.temp-degree {
    text-align: center;
}

.temp-description {
    margin-left: 0.5em;
    margin-bottom: 0.5em;
    text-align: center;
}

.location-tz {
    text-align: center;
}

#w-info {
    font-size: 1.5em;
}

.conditions {
    border-radius: 10%;
    width: 250px;
}

.conditions li {
    list-style-type: none;
    
}